.places {
  margin: 92px auto;
  max-width: calc(100% - 148px * 2);
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 1190px) {
  .places {
    max-width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin-top: 88px;
    max-width: calc(100% - 24px * 2);
    gap: 73px;
  }
}

@media screen and (max-width: 710px) {
  .places {
    margin-top: 64px;
    max-width: 100%;
  }
}

@media screen and (max-width: 632px) {
  .places {
    gap: 50px;
    margin-bottom: 66px;
  }
}
