.footer {
  margin: 0 auto;
  padding: 92px 48px 24px 48px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 92px 48px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 64px 24px 24px 24px;
  }
}

@media screen and (max-width: 745px) {
  .footer {
    display: block;
    padding-left: 16px;
  }
}
